<main class="container">
  <div class="content">
    <div class="jumbotron">
      <h1>Todo-List</h1>
      <ul class="list-group" role="list">
        <li
          *ngFor="let item of items"
          class="list-group-item d-flex justify-content-between align-items-center"
          role="listitem"
        >
          <div>
            <strong>{{ item.title }}</strong>
            <p>{{ item.description }}</p>
          </div>
          <button
            (click)="removeTask(item)"
            class="btn btn-danger btn-sm"
            aria-label="Excluir tarefa"
          >
            Excluir
          </button>
        </li>
      </ul>

      <!-- Botão para abrir o modal -->
      <button
        (click)="openTaskModal()"
        class="btn btn-primary mt-3"
        aria-label="Adicionar tarefa"
      >
        Adicionar Nova Tarefa
      </button>
    </div>
  </div>
</main>
