<main class="container">
  <div class="content">
    <div class="jumbotron">
      <h1>Todo-List</h1>
      <ul class="list-group" role="list">
        <li
          *ngFor="let item of items"
          class="list-group-item d-flex justify-content-between align-items-center"
          role="listitem"
        >
          {{ item }}
          <button
            (click)="removeTask(item)"
            class="btn btn-danger btn-sm"
            aria-label="Excluir tarefa"
          >
            Excluir
          </button>
        </li>
      </ul>

      <!-- Form de criação tarefas -->
      <app-task-form (taskAdded)="addTask($event)"></app-task-form>
    </div>
  </div>
</main>
